@font-face {
            font-family: "Pasthelo";
            src: url(blob:null/79ee1809-dc53-4770-b197-4948a2230627) format('opentype');
            font-weight: 400;
            font-style: normal;
          }